.landing-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    gap: 20px;             /* Adjust this to match your current spacing */    
}

.nav-card {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1.25rem;
    text-align: center;
    text-decoration: none;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1.5625rem 1.5625rem 0px rgba(0, 0, 0, 0.0477);
}

.nav-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 2rem 2rem 0px rgba(0, 0, 0, 0.1);
}

.nav-card h2 {
    color: var(--slate-900);
    margin-top: 1rem;
    font-size: 1.25rem;
}

.nav-card img {
    width: 64px;
    height: 64px;
}
